In [1]:
import pandas as pd

In [5]:
df=pd.read_csv('input.txt', header=None)

In [11]:
df['elf1']=df[0].str.split('-')
df['elf2']=df[1].str.split('-')

In [31]:
all_elf1 = []
all_elf2 = []

for i in range(0,1000):
    elf1_l = ([x for x in range(int(df['elf1'].iloc[i][0]), int(df['elf1'].iloc[i][1])+1)])
    elf2_l = ([x for x in range(int(df['elf2'].iloc[i][0]), int(df['elf2'].iloc[i][1])+1)])
    all_elf1.append(elf1_l)
    all_elf2.append(elf2_l)

In [34]:
df['all_elf1'] = all_elf1
df['all_elf2'] = all_elf2

In [65]:
contains = []
intersections = []
for i, row in df.iterrows():
    interse=set(row['all_elf1']).intersection(set(row['all_elf2']))
    intersections.append(interse)
    if len(list(interse)) == len(row['all_elf1']) or len(list(interse)) == len(row['all_elf2']):
        contains.append(True)
    else:
        contains.append(False)

In [66]:
df['interse'] = intersections
df['contains'] = contains

In [67]:
df

,0,1,elf1,elf2,all_elf1,all_elf2,contains,interse
0,71-71,42-72,"[71, 71]","[42, 72]",[71],"[42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 5...",True,{71}
1,27-28,27-99,"[27, 28]","[27, 99]","[27, 28]","[27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 3...",True,"{27, 28}"
2,15-79,14-78,"[15, 79]","[14, 78]","[15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 2...","[14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 2...",False,"{15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 2..."
3,3-36,4-36,"[3, 36]","[4, 36]","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...","[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16,...",True,"{4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16,..."
4,5-67,32-57,"[5, 67]","[32, 57]","[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17...","[32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 4...",True,"{32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 4..."
...,...,...,...,...,...,...,...,...
995,46-63,38-62,"[46, 63]","[38, 62]","[46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 5...","[38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 4...",False,"{46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 5..."
996,31-95,3-94,"[31, 95]","[3, 94]","[31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 4...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...",False,"{31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 4..."
997,76-82,41-75,"[76, 82]","[41, 75]","[76, 77, 78, 79, 80, 81, 82]","[41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 5...",False,{}
998,87-88,4-88,"[87, 88]","[4, 88]","[87, 88]","[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16,...",True,"{88, 87}"
999,21-33,20-32,"[21, 33]","[20, 32]","[21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 3...","[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 3...",False,"{32, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31}"

In [72]:
df['contains'].value_counts()

True     571
False    429
Name: contains, dtype: int64

In [55]:
len(df.iloc[0]['all_elf1'])

1

In [58]:
len(df.iloc[0]['interse'])

1

# part 2

In [77]:
df['overlapping_sections']=df['interse'].apply(lambda x: len(x))

In [85]:
df['is_not_overlapping'] = df['overlapping_sections'] == 0

In [86]:
df['is_not_overlapping'].value_counts()

False    917
True      83
Name: is_not_overlapping, dtype: int64