# Day 6

In [1]:
import pandas as pd
import numpy as np

In [2]:
with open('input.txt') as fin:
    line = fin.readlines()

In [7]:
signal = line[0].rstrip()

In [11]:
len(signal)

4095

In [21]:
pd.DataFrame(sig_window).transpose()

   0  1  2  3
0  d  f  s  f

In [139]:
sig_windows = pd.DataFrame()
sig = list(signal)
for x in range(0,len(signal)-3):
    sig_window = sig[x:x+4]
    sig_windows = pd.concat([sig_windows,pd.DataFrame(sig_window).transpose()])

In [140]:
res = []
for num, row in sig_windows.iterrows():
    res.append(len(row.unique()) == 4)

In [141]:
sig_windows['unique'] = res

In [142]:
sig_windows = sig_windows.reset_index()

In [143]:
sig_windows[sig_windows['unique'] == True]

      index  0  1  2  3  unique
1643      0  d  s  j  t    True
1644      0  s  j  t  z    True
1645      0  j  t  z  v    True
1646      0  t  z  v  f    True
1647      0  z  v  f  m    True
...     ... .. .. .. ..     ...
4086      0  b  p  g  l    True
4087      0  p  g  l  s    True
4089      0  l  s  g  t    True
4090      0  s  g  t  p    True
4091      0  g  t  p  j    True

[1732 rows x 6 columns]

In [144]:
sig_windows[sig_windows['unique'] == True].index+4

Int64Index([1647, 1648, 1649, 1650, 1651, 1652, 1653, 1654, 1655, 1660,
            ...
            4083, 4084, 4087, 4088, 4089, 4090, 4091, 4093, 4094, 4095],
           dtype='int64', length=1732)