In [1]:
import pandas as pd

In [2]:
with open('input.txt') as fin:
    calories=fin.readlines()

In [8]:
all_elves = []
elf = []
for line in calories:
    new_line=line.strip()
    if len(new_line) == 0:
        all_elves.append(elf)
        elf = []
    else:
        elf.append(int(new_line))

all_elves.append(elf)

In [11]:
all_elves=pd.DataFrame(all_elves)

In [13]:
all_elves

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,2832,2108.0,3082.0,4328.0,6843.0,5121.0,2869.0,1366.0,2358.0,1680.0,4980.0,1161.0,NaN,NaN,NaN
1,8026,2154.0,4242.0,1023.0,2744.0,3162.0,4093.0,1150.0,5397.0,2738.0,5657.0,NaN,NaN,NaN,NaN
2,10954,11208.0,8034.0,1636.0,9430.0,9421.0,5025.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3837,5938.0,3967.0,2942.0,2727.0,3623.0,4070.0,1748.0,1795.0,1687.0,4023.0,6068.0,2558.0,2570.0,4214.0
4,9679,2986.0,5168.0,16463.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,13254,34865.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,3338,2313.0,1854.0,1232.0,4036.0,2156.0,3203.0,3959.0,4643.0,4045.0,2097.0,5726.0,3509.0,3801.0,NaN
245,1530,5956.0,5236.0,6895.0,2136.0,8084.0,1550.0,6776.0,1042.0,5389.0,4815.0,NaN,NaN,NaN,NaN
246,1479,2337.0,5443.0,5880.0,8131.0,9774.0,4225.0,5564.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247,9111,3248.0,5761.0,8147.0,3285.0,11468.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
all_elves.sum(axis=1).max()

67622.0

# Part 2

In [19]:
sorted_agg=all_elves.sum(axis=1).sort_values()

In [30]:
sorted_agg.iloc[len(sorted_agg)-3:len(sorted_agg)].sum()

201491.0