In [17]:
import pandas as pd
import numpy as np

In [7]:
strat=pd.read_csv('input.txt', header=None, delimiter=' ')

In [9]:
strat.columns = ['player1', 'player2']

In [12]:
strat['player1_plays'] = strat['player1'].replace({'A':'rock', 'B':'paper','C':'scissors'})
strat['player2_plays'] = strat['player2'].replace({'X':'rock', 'Y':'paper','Z':'scissors'})

In [13]:
strat

     player1 player2 player1_plays player2_plays
0          C       Z      scissors      scissors
1          C       Z      scissors      scissors
2          A       X          rock          rock
3          A       X          rock          rock
4          B       Z         paper      scissors
...      ...     ...           ...           ...
2495       A       X          rock          rock
2496       C       Z      scissors      scissors
2497       C       Y      scissors         paper
2498       C       Z      scissors      scissors
2499       C       Y      scissors         paper

[2500 rows x 4 columns]

In [18]:
strat['innate']= strat['player2_plays'].replace({'rock':1,'paper':2,'scissors':3})

conditions = [
    (strat['player1_plays'] == strat['player2_plays']),
    (strat['player2_plays'] == 'rock') & (strat['player1_plays'] == 'scissors'),
    (strat['player2_plays'] == 'paper') & (strat['player1_plays'] == 'rock'),
    (strat['player2_plays'] == 'scissors') & (strat['player1_plays'] == 'paper')]
score = [3,6,6,6]
strat['score'] = np.select(conditions,score,default=0)

In [20]:
strat['total_score'] = strat['innate'] + strat['score']

In [22]:
strat['total_score'].sum()

14264

# Part 2

In [23]:
strat

     player1 player2 player1_plays player2_plays  innate  score  total_score
0          C       Z      scissors      scissors       3      3            6
1          C       Z      scissors      scissors       3      3            6
2          A       X          rock          rock       1      3            4
3          A       X          rock          rock       1      3            4
4          B       Z         paper      scissors       3      6            9
...      ...     ...           ...           ...     ...    ...          ...
2495       A       X          rock          rock       1      3            4
2496       C       Z      scissors      scissors       3      3            6
2497       C       Y      scissors         paper       2      0            2
2498       C       Z      scissors      scissors       3      3            6
2499       C       Y      scissors         paper       2      0            2

[2500 rows x 7 columns]

In [26]:
strat['part2_score'] = strat['player2'].replace({'X':0, 'Y':3,'Z':6})
strat

,player1,player2,player1_plays,player2_plays,innate,score,total_score,part2_score
0,C,Z,scissors,scissors,3,3,6,6
1,C,Z,scissors,scissors,3,3,6,6
2,A,X,rock,rock,1,3,4,0
3,A,X,rock,rock,1,3,4,0
4,B,Z,paper,scissors,3,6,9,6
...,...,...,...,...,...,...,...,...
2495,A,X,rock,rock,1,3,4,0
2496,C,Z,scissors,scissors,3,3,6,6
2497,C,Y,scissors,paper,2,0,2,3
2498,C,Z,scissors,scissors,3,3,6,6
2499,C,Y,scissors,paper,2,0,2,3

In [27]:
conditions = [
    (strat['player1_plays']== 'rock') & (strat['part2_score'] == 6),
    (strat['player1_plays']== 'rock') & (strat['part2_score'] == 3),
    (strat['player1_plays']== 'rock') & (strat['part2_score'] == 0),
    (strat['player1_plays']== 'paper') & (strat['part2_score'] == 6),
    (strat['player1_plays']== 'paper') & (strat['part2_score'] == 3),
    (strat['player1_plays']== 'paper') & (strat['part2_score'] == 0),
    (strat['player1_plays']== 'scissors') & (strat['part2_score'] == 6),
    (strat['player1_plays']== 'scissors') & (strat['part2_score'] == 3),
    (strat['player1_plays']== 'scissors') & (strat['part2_score'] == 0)]
score = [2,1,3, 3,2,1, 1,3,2]
strat['part2_innate_score'] = np.select(conditions,score)

In [31]:
strat['part2_score'] + strat['part2_innate_score']

0       7
1       7
2       3
3       3
4       9
       ..
2495    3
2496    7
2497    6
2498    7
2499    6
Length: 2500, dtype: int64