In [241]:
import numpy as np
import pandas as pd
import re
import ast
import pdb
import copy

In [273]:
with open('input_e.txt') as fin:
    monkeys=fin.readlines()

In [274]:
monkeys

['Monkey 0:\n',
 '  Starting items: 79, 98\n',
 '  Operation: new = old * 19\n',
 '  Test: divisible by 23\n',
 '    If true: throw to monkey 2\n',
 '    If false: throw to monkey 3\n',
 '\n',
 'Monkey 1:\n',
 '  Starting items: 54, 65, 75, 74\n',
 '  Operation: new = old + 6\n',
 '  Test: divisible by 19\n',
 '    If true: throw to monkey 2\n',
 '    If false: throw to monkey 0\n',
 '\n',
 'Monkey 2:\n',
 '  Starting items: 79, 60, 97\n',
 '  Operation: new = old * old\n',
 '  Test: divisible by 13\n',
 '    If true: throw to monkey 1\n',
 '    If false: throw to monkey 3\n',
 '\n',
 'Monkey 3:\n',
 '  Starting items: 74\n',
 '  Operation: new = old + 3\n',
 '  Test: divisible by 17\n',
 '    If true: throw to monkey 0\n',
 '    If false: throw to monkey 1']

In [275]:
m_ind = re.findall('Monkey (\d+):', ' '.join(monkeys))
m_ind = [int(x) for x in m_ind]
starting_items = re.findall('Starting items: ([a-z, A-Z0-9_.-]*)', ' '.join(monkeys))
starting_items=[x.split(',') for x in starting_items]
#starting_items = [y.strip() for x in starting_items for y in x]
operation = re.findall('Operation: ([a-z, =+\*A-Z0-9_.-]*)', ' '.join(monkeys))
operation = [x.split(' = ')[1] for x in operation]
test = re.findall('Test: divisible by ([a-z, =+\*A-Z0-9_.-]*)', ' '.join(monkeys))
ifT = re.findall('If true: throw to monkey ([a-z, =+\*A-Z0-9_.-]*)', ' '.join(monkeys))
ifF = re.findall('If false: throw to monkey ([a-z, =+\*A-Z0-9_.-]*)', ' '.join(monkeys))

In [276]:
all_current_items = copy.deepcopy(starting_items)
inspection_track = [list() for x in range(0,len(m_ind))]

for r in range(0,20):
    for monkey in m_ind:
        current_items = all_current_items[int(monkey)].copy()
        for item in current_items:
            inspection_track[monkey].append(item)
            old = int(item)
            new = np.floor(eval(operation[monkey])/3)
            test_result = new % int(test[monkey]) == 0
            all_current_items[monkey].pop(0)
            if test_result:
                all_current_items[int(ifT[monkey])].append(new)
            else:
                all_current_items[int(ifF[monkey])].append(new)

In [277]:
inspect_sum=[len(x) for x in inspection_track]

In [278]:
inspect_sum

[101, 95, 7, 105]

In [279]:
inspect_sum = sorted(inspect_sum)

In [280]:
inspect_sum

[7, 95, 101, 105]

In [281]:
inspect_sum[-1] * inspect_sum[-2]

10605

In [282]:
pd.DataFrame(inspection_track)

,0,1,2,3,4,5,6,7,8,9,...,95,96,97,98,99,100,101,102,103,104
0,79,98,20.0,23.0,27.0,26.0,695.0,10.0,71.0,135.0,...,116.0,44.0,25.0,94.0,16.0,54.0,NaN,NaN,NaN,NaN
1,54,65,75,74,2080.0,25.0,167.0,207.0,401.0,1046.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,79,60,97,57.0,38.0,38.0,38.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,74,500.0,620.0,1200.0,3136.0,126.0,145.0,171.0,164.0,1083.0,...,76.0,88.0,107.0,215.0,734.0,278.0,158.0,595.0,101.0,342.0

## Part 2

In [283]:
class Item:
    def __init__(self, worry, item_index, current_monkey, current_round):
        self.worry = worry
        self.item_index = item_index
        self.monkey_list = [(current_round, current_monkey)]
        
    def pass_it(self, current_round, next_monkey):
        self.monkey_list.append((current_round, next_monkey))

In [284]:
all_current_items = copy.deepcopy(starting_items)
item_index = 0
all_current_its = [list() for x in m_ind]
for monkeyn, inv in enumerate(all_current_items):
    for it in inv:
        all_current_its[monkeyn].append(Item(int(it), item_index, monkeyn, 1))
        item_index += 1

In [ ]:
all_current_items = copy.deepcopy(starting_items)
item_index = 0
all_current_its = [list() for x in m_ind]
for monkeyn, inv in enumerate(all_current_items):
    for it in inv:
        all_current_its[monkeyn].append(Item(int(it), item_index, monkeyn, 1))
        item_index += 1
        
inspection_track = [list() for x in range(0,len(m_ind))]

for r in range(0,400):
    for monkey in m_ind:
        current_items = all_current_its[int(monkey)].copy()
        for item in current_items:
            inspection_track[monkey].append(item)
            old = int(item.worry)
            new = eval(operation[monkey])
            item.worry = new
            test_result = new % int(test[monkey]) == 0
            all_current_its[monkey].pop(0)
            if test_result:
                item.pass_it(r+1, int(ifT[monkey]))
                all_current_its[int(ifT[monkey])].append(item)
            else:
                item.pass_it(r+1, int(ifF[monkey]))
                all_current_its[int(ifF[monkey])].append(item)

In [308]:
cycle_sample=''.join([str(y) for x,y in all_current_its[0][0].monkey_list])
cycle_obj=re.finditer(cycle_sample[:3], cycle_sample)
pattern_starts = [m.start(0) for m in cycle_obj]
pattern_length = pattern_starts[1]-pattern_starts[0]
pattern_length

3

In [311]:
its

[<__main__.Item at 0x2aaaf34c6d00>,
 <__main__.Item at 0x2aaaf34c6bb0>,
 <__main__.Item at 0x2aaaf34c6940>,
 <__main__.Item at 0x2aaaf34c60a0>,
 <__main__.Item at 0x2aaaf34c68b0>]

In [320]:
for inv in all_current_its:
    for its in inv:
        cycle_sample = ''.join([str(y) for x,y in its.monkey_list])
        print(cycle_sample)
        for tlen in range(3,200):
            cycle_obj=re.finditer(cycle_sample[:tlen], cycle_sample)
            pattern_starts = [m.start(0) for m in cycle_obj]
            pattern_length = pattern_starts[1]-pattern_starts[0]
            if all([x%tlen == 0 for x in pattern_starts]):
                its.cycle_length = tlen
                break
            else:
                continue
            print(pattern_length)
        pdb.set_trace()

1031031031031031031031031031031031031031031031031031031031023103103103103103103103103103103103103103103103103103103103103103102310310310310303103103103103103031031031031031030310310310310310303103103103103103031031031031031030310310310310310303103103103102310310310310310310310310310310310310310310310310310
> /scratch/tmp/22879487.1.default.q/ipykernel_7423/86108198.py(2)<cell line: 1>()
      1 for inv in all_current_its:
----> 2     for its in inv:
      3         cycle_sample = ''.join([str(y) for x,y in its.monkey_list])
      4         print(cycle_sample)
      5         for tlen in range(3,100):

ipdb>  its

<__main__.Item object at 0x2aaaf2ef6040>

ipdb>  its.cycle_length

67

ipdb>  exit

In [ ]:
inspect_sum=[len(x) for x in inspection_track]

In [ ]:
inspect_sum = sorted(inspect_sum)

In [ ]:
inspect_sum[-1] * inspect_sum[-2]